[submodule "lstm/lstm_from_scrach/lstm"]
	path = lstm/lstm_from_scrach/lstm
	url = git@github.com:modelsplaid/lstm.git
[submodule "rnn/RNN-Implementation-using-NumPy"]
	path = rnn/RNN-Implementation-using-NumPy
	url = git@github.com:modelsplaid/RNN-Implementation-using-NumPy.git
[submodule "thirdparty/pytorch-tutorials"]
	path = thirdparty/pytorch-tutorials
	url = git@github.com:modelsplaid/pytorch-tutorials.git
[submodule "thirdparty/transformer-from-scrach"]
	path = thirdparty/transformer-from-scrach
	url = git@github.com:modelsplaid/transformer-from-scrach.git
